<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.144637133530-63n8jkrlkbci0qfo6h1q3a343nc8sd68</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>144637133530-63n8jkrlkbci0qfo6h1q3a343nc8sd68.apps.googleusercontent.com</string>
	<key>Grcid</key>
	<string>com.googleusercontent.apps.144637133530-63n8jkrlkbci0qfo6h1q3a343nc8sd68</string>
</dict>
</plist>
